@model IEnumerable<Project.Service.Models.VehicleModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.SelectedVehicleMake), "Index", new { sortBy = ViewBag.MakeSortParam })
                @*@Html.DisplayNameFor(model => model.SelectedVehicleMake)*@
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Name), "Index", new { sortBy = ViewBag.NameSortParam })
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Abrv), "Index", new { sortBy = ViewBag.AbrvSortParam })
                @*@Html.DisplayNameFor(model => model.Abrv)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedVehicleMake.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abrv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
